[submodule "gavui"]
	path = gavui
	url = https://github.com/GT3CH1/gavui
	ignore = all
	branch = master
[submodule "gavinsmod-events"]
	path = gavinsmod-events
	url = https://github.com/gavinsmod/gavinsmod-events
[submodule "chestesp"]
	url = https://github.com/gavinsmod/mod-chestesp
	path = mods/chestesp
[submodule "mobesp"]
	url = https://github.com/gavinsmod/mod-mobesp
	path = mods/mobesp
[submodule "beehiveesp"]
	url = https://github.com/gavinsmod/mod-beehiveesp
	path = mods/beehiveesp
[submodule "entityplayeresp"]
	url = https://github.com/gavinsmod/mod-entityplayeresp
	path = mods/entityplayeresp
[submodule "furnaceesp"]
	url = https://github.com/gavinsmod/mod-furnaceesp
	path = mods/furnaceesp
[submodule "entityitemesp"]
	url = https://github.com/gavinsmod/mod-entityitemesp
	path = mods/entityitemesp
[submodule "esp"]
	url = https://github.com/gavinsmod/mod-esp
	path = mods/esp
[submodule "climb"]
	url = https://github.com/gavinsmod/mod-climb
	path = mods/climb
[submodule "fly"]
	url = https://github.com/gavinsmod/mod-fly
	path = mods/fly
[submodule "noclip"]
	url = https://github.com/gavinsmod/mod-noclip
	path = mods/noclip
[submodule "autojump"]
	url = https://github.com/gavinsmod/mod-autojump
	path = mods/autojump
[submodule "movement"]
	url = https://github.com/gavinsmod/mod-movement
	path = mods/movement
[submodule "nofall"]
	url = https://github.com/gavinsmod/mod-nofall
	path = mods/nofall
[submodule "dolphin"]
	url = https://github.com/gavinsmod/mod-dolphin
	path = mods/dolphin
[submodule "speed"]
	url = https://github.com/gavinsmod/mod-speed
	path = mods/speed
[submodule "fastmine"]
	url = https://github.com/gavinsmod/mod-fastmine
	path = mods/fastmine
[submodule "fastplace"]
	url = https://github.com/gavinsmod/mod-fastplace
	path = mods/fastplace
[submodule "antitrample"]
	url = https://github.com/gavinsmod/mod-antitrample
	path = mods/antitrample
[submodule "entityplayertracer"]
	url = https://github.com/gavinsmod/mod-entityplayertracer
	path = mods/entityplayertracer
[submodule "entityitemtracer"]
	url = https://github.com/gavinsmod/mod-entityitemtracer
	path = mods/entityitemtracer
[submodule "tracer"]
	url = https://github.com/gavinsmod/mod-tracer
	path = mods/tracer
[submodule "chesttracer"]
	url = https://github.com/gavinsmod/mod-chesttracer
	path = mods/chesttracer
[submodule "mobtracer"]
	url = https://github.com/gavinsmod/mod-mobtracer
	path = mods/mobtracer
[submodule "furnacetracer"]
	url = https://github.com/gavinsmod/mod-furnacetracer
	path = mods/furnacetracer
[submodule "beehivetracer"]
	url = https://github.com/gavinsmod/mod-beehivetracer
	path = mods/beehivetracer
[submodule "waypoints"]
	url = https://github.com/gavinsmod/mod-waypoints
	path = mods/waypoints
[submodule "radar"]
	url = https://github.com/gavinsmod/mod-radar
	path = mods/radar
[submodule "render"]
	url = https://github.com/gavinsmod/mod-render
	path = mods/render
[submodule "nonausea"]
	url = https://github.com/gavinsmod/mod-nonausea
	path = mods/nonausea
[submodule "antifire"]
	url = https://github.com/gavinsmod/mod-antifire
	path = mods/antifire
[submodule "novignette"]
	url = https://github.com/gavinsmod/mod-novignette
	path = mods/novignette
[submodule "fullbright"]
	url = https://github.com/gavinsmod/mod-fullbright
	path = mods/fullbright
[submodule "nooverlay"]
	url = https://github.com/gavinsmod/mod-nooverlay
	path = mods/nooverlay
[submodule "antihurt"]
	url = https://github.com/gavinsmod/mod-antihurt
	path = mods/antihurt
[submodule "barrierdetect"]
	url = https://github.com/gavinsmod/mod-barrierdetect
	path = mods/barrierdetect
[submodule "xray"]
	url = https://github.com/gavinsmod/mod-xray
	path = mods/xray
[submodule "antipumpkin"]
	url = https://github.com/gavinsmod/mod-antipumpkin
	path = mods/antipumpkin
[submodule "waypoint"]
	url = https://github.com/gavinsmod/mod-waypoint
	path = mods/waypoint
[submodule "norain"]
	url = https://github.com/gavinsmod/mod-norain
	path = mods/norain
[submodule "healthtag"]
	url = https://github.com/gavinsmod/mod-healthtag
	path = mods/healthtag
[submodule "killaura"]
	url = https://github.com/gavinsmod/mod-killaura
	path = mods/killaura
[submodule "autocrit"]
	url = https://github.com/gavinsmod/mod-autocrit
	path = mods/autocrit
[submodule "autoattack"]
	url = https://github.com/gavinsmod/mod-autoattack
	path = mods/autoattack
[submodule "combat"]
	url = https://github.com/gavinsmod/mod-combat
	path = mods/combat
[submodule "freecam"]
	url = https://github.com/gavinsmod/mod-freecam
	path = mods/freecam
[submodule "misc"]
	url = https://github.com/gavinsmod/mod-misc
	path = mods/misc
[submodule "guitextoverlay"]
	url = https://github.com/gavinsmod/mod-guitextoverlay
	path = mods/guitextoverlay
[submodule "fpscounter"]
	url = https://github.com/gavinsmod/mod-fpscounter
	path = mods/fpscounter
[submodule "gemclient-core"]
	path = gemclient-core
	url = https://github.com/gavinsmod/gemclient-core
